<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title *ngIf="country">{{ country.name.common }} Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Official Name</ion-card-subtitle>
      <ion-card-title *ngIf="country">{{ country.name.official }}</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <p *ngIf="country"><strong>Capital:</strong> {{ country.capital }}</p>
      <p *ngIf="country"><strong>Region:</strong> {{ country.region }}</p>
      <ion-img *ngIf="country" [src]="country.flags.png" alt="{{ country.flags.alt }}"></ion-img>
    </ion-card-content>
  </ion-card>

  <ion-item-divider>
    <ion-label>Additional Details</ion-label>
  </ion-item-divider>

  <ion-card>
    <ion-card-content>
      <pre>{{ country | json }}</pre>
    </ion-card-content>
  </ion-card>
</ion-content>
