<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>
      List of Countries
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item>
      <ion-label>From cache: {{rest.countriesFromCache}} {{rest.countriesDate?.toLocaleString()}}</ion-label>
    </ion-item>
    <ion-item *ngFor="let country of countries" (click)="showDetails(country)">
      <ion-avatar slot="start">
        <img [src]="country.flags.png" alt="Flag">
      </ion-avatar>
      <ion-label>
        <h2>{{ country.name.official }}</h2>
        <p>{{ country.capital }}, {{ country.region }}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>